* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2em 3em;
}

footer {
  justify-self: flex-end;
  bottom: 0;
  padding: 1.5em 0;
  text-align: center;
  color: #828282;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  max-width: 675px;
  margin: auto;
}

.section-title {
  font-size: 2.25rem;
  color: #333333;
  margin-bottom: 3.875em;
  padding: 0 1em;
}

.random-btn {
  font-family: inherit;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  border: 0;
  background: none;
  cursor: pointer;
}

.quote-text {
  position: relative;
  font-size: 2.25em;
  padding: 0 2rem;
}

.quote-text::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  left: -100px;
  background: #f7df94;
}

.rm-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 100%;
  padding: 3em 2em;
  color: #4f4f4f;
  cursor: pointer;
}

.rm-button:hover,
.rm-button:focus {
  color: #f2f2f2;
  background: #333333;
}

.rm-text_author {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.25em;
}
.rm-text_genre {
  display: block;
  color: #828282;
  font-size: 0.875rem;
}
