* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quote-container {
  max-width: 675px;
  /* border: 1px solid seagreen; */
}

.quote-text {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
  margin: 0;
  padding: 0 0.5em;
}

.quote-text::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  left: -100px;
  background: #f7df94;
}

.rm-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 4em;
  text-align: left;
  padding: 2em 0.875em;
  border: 0;
  background: none;
}

.rm-text {
}
.rm-title {
}
.rm-subtitle {
}
